@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div>Welcome @Model.SignedInUser.Username to the homescreen</div>

<div>
    <span>clark kent</span><a asp-page="/Edit" asp-route-id="@Model.SignedInUser.Id">Edit</a>
</div>

