@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>Welcome to the homescreen</div>

<div>
    <span>clark kent</span><a asp-page="/Edit" asp-route-id="@Model.SuperHeroId">Edit</a>
</div>
